:root {
  --font: 3vw;
}
body {
  box-sizing: border-box;
  background-image: url(https://images.unsplash.com/photo-1567360425618-1594206637d2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmFja2dyb3VuZCUyMHJlZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(110, 5, 3);
  margin: 0;
  padding: 0;
  color: aliceblue;
  height: 100vh;
}

.flexRow {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App {
  color: rgb(255, 255, 255);
  font-size: var(--font);
  display: grid;
  grid-template: 10vw auto / 1fr;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 250, 250);
}

.App-link {
  color: #185566;
}

nav {
  height: 10vw;
  background: linear-gradient(rgba(113, 0, 0, 0.418), rgba(113, 0, 0, 0.075));
}

h1 {
  font-family: 'Yeseva One', cursive;
}

h3 {
  text-align: center;
  color: rgb(209, 196, 196);
  font-family: 'Yeseva One', cursive;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

main {
  height: calc(100vh - 10vw);
  width: 100vw;
  overflow-y: scroll;
}

.searchMsg {
  text-align: center;
  padding: 10vw;
}
.userProfile {
  height: 100%;
  width: 100vw;
}
.postlist {
  padding-top: 4vw;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: calc(100% - 4vw);
  width: 100vw;
}
.searchInp {
  margin: 0;
  height: 3vw;
  margin-right: 2vh;
  width: 16.7vw;
}
.searchForm > button {
  height: 3vw;
  width: 6vw;
}
.search {
  display: flex;
  align-items: center;
}

.postcard {
  display: grid !important;
  grid-template: 20% 80%/ 1fr;
  cursor: pointer;
  width: 32vw;
  height: 35vw;
  margin-bottom: 6vw;
  flex-direction: column;
}
.postcard > h3 {
  margin: 0;
  height: 100%;
  font-size: 3vw;
}
.imgContain {
  border: rgb(127, 8, 6) solid 0.7vw;
  transition: 0.5s ease;
  margin: 0 6vw;
}

.imgContain:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  color: #ffee10;
  box-shadow: 0 0 25px #ffee10;
  text-shadow: 0 0 25px #ffee10;
}

.imgs {
  height: 95%;
  width: 95%;
}

#navHome {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.formContain {
  display: grid;
  justify-content: center;
  border: rgb(255, 255, 255) groove 1vw;
  padding: 3vw;
  /* width: 60vw; */
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
  border: white 1px solid;
}

label {
  text-align: left;
}

input {
  display: inline-block;
}

.navBar {
  justify-content: space-evenly !important;
  overflow: scroll;
  width: 100%;
}
.navBar > * {
  margin: 0 1vh 0 1vh;
}
.searchContainer * {
  font-size: 1.5vw;
}

#navHome,
#userPage,
#newsfeed {
  font-size: 3vw;
  display: inline;
  border: none;
  color: rgb(248, 248, 248);
  font-family: 'Yeseva One', cursive;
}

#navHome:hover,
#userPage:hover,
#newsfeed:hover {
  color: rgb(207, 19, 16);
}
#navHome:active,
#userPage:active,
#newsfeed:active {
  color: rgb(127, 8, 6);
}

div {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.formControl {
  width: 100%;
  height: 100%;
}

/* vh  */
label,
input {
  height: 3vw;
}

.inputWrapper {
  height: 3.5vw;
  margin-bottom: 1.5vw;
  display: grid;
  grid-template: 1fr/ 55% 45%;
}

.authFooter {
  text-align: center;
}

.authBtn {
  height: 2.5vw;
  width: 15vw;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_detail {
  flex-direction: column;
  padding: 0 5vw 5vw 5vw;
}

.commentSec {
  width: 100%;
}

.title {
  margin: 2vw;
  text-align: center;
}

.imgCont {
  width: 70vw;
  border: white groove 2vw;
}

.game_img {
  width: 100%;
}

.desc {
  text-align: justify;
}

.commentSec > * {
  margin: 0 0 0.4em 0;
}
.comment_card {
  margin: 0 0 2vw 0;
}
.comment_card > h5 {
  margin: 0 0 0 0;
}

.commentForm {
  width: 100%;
}

textarea {
  width: 100%;
  font-size: 2.5vw;
}

span {
  margin-right: 2vw;
  color: rgb(207, 19, 16);
}

.userInfo {
  width: 100vw;
  text-align: center;
}

#logOut {
  width: 20vw;
  height: 5vw;
}

.homeLogo {
  height: 20vw;
  border: 1vw solid black;
  border-radius: 999px;
  padding: 0.5vw;
  margin: 4vh;
}

#homebutton {
  background: linear-gradient(
    to top left,
    rgba(128, 0, 0, 0.938),
    rgba(65, 0, 1, 0.938)
  );
  width: 15vw;
  height: 5vw;
  border: 0.5vw outset rgb(34, 34, 34);
  border-radius: 10px;
}
#homebutton:hover {
  background: linear-gradient(
    to bottom right,
    rgba(128, 0, 0, 0.938),
    rgba(65, 0, 1, 0.938)
  );
}
#homebutton:active {
  background: linear-gradient(
    to bottom right,
    rgba(128, 0, 0, 0.938),
    rgba(65, 0, 1, 0.938)
  );
  border: 0.5vw inset rgb(34, 34, 34);
}

.homeContainer {
  width: 100vw;
  height: 90vh;
  background-image: url(https://cdn.wallpapersafari.com/25/63/VxMO4Q.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.4);
  flex-direction: column;
}

button {
  width: 9vw;
  font-size: calc(var(--font) * 0.35);
}

@media (max-width: 1000px) {
  :root {
    --font: 3.5vw;
  }
}
@media (max-width: 700px) {
  :root {
    --font: 4vw;
  }
}
