* {
  box-sizing: border-box;
  background-image: url(https://images.unsplash.com/photo-1572537577590-ac6a88150100?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dmlkZW8lMjBnYW1lc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.App {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #185566;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-user {
  float: right;
  justify-content: space-between;
  margin: 0em 1em;
}

.postlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  background-color: black;
}

.postcard {
  cursor: pointer;
  margin: 5em 1em -10em 3em;
  height: 30em;
  width: 40em;
}

.imgs {
  border: rgb(0, 179, 9) solid 5px;
  border-radius: 0% 100% 0% 100% / 76% 32% 68% 24%;
  height: 25em;
  width: 30em;
}

/* #navHome {
  color: aqua;
} */

#homeContainer,
button,
#navHome {
  color: aqua;
  display: flex;
  justify-content: center;
}

.home-news {
  background-color: ivory;
}

.formContain {
  display: grid;
  justify-content: center;
  border: azure solid 2px;
  border-width: 1px;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  background-color: black;
}
