body {
  box-sizing: border-box;
  background-image: url(https://images.unsplash.com/photo-1567360425618-1594206637d2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmFja2dyb3VuZCUyMHJlZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(110, 5, 3);
  margin: 0;
  padding: 0;
  color: aliceblue;
  height: 100vh;
}

.flexRow {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App {
  /* background-color: rgb(0, 0, 0); */
  color: rgb(255, 255, 255);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 250, 250);
}

.App-link {
  color: #185566;
}

nav {
  /* background-color: yellowgreen; */
  height: 10vh;
  background: linear-gradient(rgba(113, 0, 0, 0.418), rgba(113, 0, 0, 0.075));
}

h1 {
  font-family: 'Yeseva One', cursive;
}

h3 {
  text-align: center;
  color: rgb(209, 196, 196);
  font-family: 'Yeseva One', cursive;
  font-size: 2vw;
  align-self: center;
}

.postlist {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  /* flex-direction: row !important; */
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 100vw;
  height: 90vh;
  /* padding-top: 4vh; */
  /* image-rendering: crisp-edges !important;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges; */
  image-rendering: -webkit-optimize-contrast;
  /* -ms-interpolation-mode: nearest-neighbor; */
}

/* @media (max-width: 1500px) {
  .postlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 115vw;
  }
} */

@media (max-width: 1000px) {
  .postlist {
    display: block;
  }
}

/* viewheight viewwidth */
.postcard {
  display: grid;
  grid-template: 30% 70%/ 1fr;
  cursor: pointer;
  /* margin: 5em 1em -10em 3em; */
  width: 30vw;
  height: 40vw;
  margin: 1.5vw;
  flex-direction: column;
}

/* @media (max-width: 1500px) {
  .postcard {
    height: 50vh;
    width: 50vw;
    margin-top: -15px;
  }
} */

/* @media (max-width: 1000px) {
  .postcard {
    display: block;
    width: 100vw;
  }
} */

.imgs {
  border: rgb(127, 8, 6) solid 5px;
  height: 100%;
  width: 70%;

  transition: 0.5s ease;
}

.imgs:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  color: #ffee10;
  box-shadow: 0 0 25px #ffee10;
  text-shadow: 0 0 25px #ffee10;
}

@media (max-width: 800px) {
  .imgs {
    margin-top: 50px;
    height: 23vh;
  }
}

/* button, */
#navHome {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

/* viewwidth */
.formContain {
  display: grid;
  justify-content: center;
  border: rgb(255, 255, 255) solid 2px;
  border-width: 1px;
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
  border: white 1px solid;
}

a:hover {
  color: blue;
  border: blue 1px solid;
}

/* view width */
label {
  display: inline-block;
  margin-left: -200px;
  width: 250px;
  text-align: right;
}
input {
  display: inline-block;
}

/* button {
  display: inline;
  margin-left: 75px;
} */

/* vw font size DO FIRST */
#navHome,
#userPage,
#newsfeed {
  display: inline;
  border: none;
  margin-left: 25px;
  color: rgb(248, 248, 248);
  font-family: 'Yeseva One', cursive;
  font-size: 25px;
}

#navHome:hover,
#userPage:hover,
#newsfeed:hover {
  color: rgb(255, 0, 76);
  /* font-size: 17px; */
}

div {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* vh  */
.inputWrapper,
label,
input {
  margin-bottom: 15px;
  margin-right: 15px;
  height: 25px;
}

.game_detail {
  display: block;
  margin: 1% 32%;
  width: 50%;
  padding: 100px;
}

@media (max-width: 1500px) {
  .game_detail {
    display: block;
    margin: 0;
    background-color: black;
  }
}

.homeLogo {
  height: 20vw;
  border: 1vw solid black;
  border-radius: 999px;
  padding: 0.5vw;
  margin: 4vh;
}
#homebutton {
  background-image: url(../a-img/hail_app_logo.png);
  background-color: rgba(113, 0, 0, 0.938);
  width: 15vw;
  height: 5vw;
  border: 0.5vw outset rgb(34, 34, 34);
  border-radius: 10px;
}
#homebutton:hover {
  background-color: rgba(97, 0, 0, 0.938);
  border: 0.5vw inset rgb(34, 34, 34);
}

/* main {
  background-color: rgb(0, 0, 0);
} */
.homeContainer {
  width: 100vw;
  height: 90vh;
  background-image: url(https://cdn.wallpapersafari.com/25/63/VxMO4Q.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.4);
  flex-direction: column;
}
